<div class="footer-content">
  <div class="wrapper footer-wrapper">
    <div class="box box-footer box-footer-right">
      <h3 class="footer-title">CONTENTS</h3>
      <ul class="">
        <li class="footer-links">
          <%= link_to "HOME", root_path %>
        </li>
        <li class="footer-links">
          <%= link_to "SCREEN", screen_path, target: "_blank", rel: "noopener noreferrer" %>
        </li>
        <li class="footer-links">
          <%= link_to "USAGE", usage_path %>
        </li>
        <li class="footer-links">
          <%= link_to "HOGE", root_path %>
        </li>
        <li class="footer-links">
          <%= link_to "HOGE", root_path %>
        </li>
        <li class="footer-links">
          <%= link_to "HOGE", root_path %>
        </li>
      </ul>
    </div>
    <div class="box box-footer box-footer-right">
      <h3 class="footer-title">OTHERSITES</h3>
      <ul class="">
        <li class="footer-links">
          <%= link_to "Develop repository", 'https://github.com/n20006/GraduationTask_Team', target: "_blank", rel: "nopener noreferrer" %>
        </li>
        <li class="footer-links">
          <%= link_to "Developper github ", 'https://github.com/n20010', target: "_blank", rel: "nopener noreferrer" %>
        </li>
        <li class="footer-links">
          <%= link_to "Twitter api reference", 'https://developer.twitter.com/en/docs/api-reference-index', target: "_blank", rel: "nopener noreferrer" %>
        </li>
        <li class="footer-links">
          <%= link_to "Youtube api reference", 'https://developers.google.com/youtube/v3/docs?hl=ja', target: "_blank", rel: "nopener noreferrer" %>
        </li>
        <li class="footer-links">
          <%= link_to "Amazon web service", 'https://aws.amazon.com/jp/', target: "_blank", rel: "nopener noreferrer" %>
        </li>
        <li class="footer-links">
          <%= link_to "Ruby on Rails official", 'https://rubyonrails.org/', target: "_blank", rel: "nopener noreferrer" %>
        </li>
      </ul>
    </div>
  </div>
</div>
  <div id="footer-last">
    <h5 id="copyright">Copyright © 2020 〇〇 Inc. All Rights Reserved.</h5>  
  </div>