<div id="sidebar-carousel" class="sidebar-content">
  <div class="add-border">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/github.png"class="d-block w-100 carousel-img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/twitter.jpg" class="d-block w-100 carousel-img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/youtube.png" class="d-block w-100 carousel-img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/aws.png" class="d-block w-100 carousel-img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/rails.png" class="d-block w-100 carousel-img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/okuto.jpg" class="d-block w-100 carousel-img" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
</div> 
  

<div id="sidebar-cards" class="sidebar-content"> 
  <div id="cards">
    <div class="card">
      <a href='https://github.com/n20006/GraduationTask_Team' target="_blank">
      <%= image_tag "/assets/github.png", class: "card-img-top" %>
      </a>
      <div class="card-body">
        <p class="card-text">An Github repository link this web application is here. We made this app for graduation task.</p>
      </div>
    </div>
    <div class="card">
      <a href='https://developer.twitter.com/en/docs/api-reference-index' target="_blank">
      <%= image_tag "twitter.jpg", class: "card-img-top" %>
      </a>
      <div class="card-body">
        <p class="card-text">Twitter Web API is used here. If you wanna learning it's details, click here.</p>
      </div>
    </div>
    <div class="card">
      <a href='https://developers.google.com/youtube/v3/docs?hl=ja' target="_blank">
      <%= image_tag "youtube.png", class: "card-img-top" %>
      </a>
      <div class="card-body">
        <p class="card-text">Youtube Web API is used here. If you wanna learning it's details, click here.</p>
      </div>
    </div>
    <div class="card">
      <a href='https://aws.amazon.com/jp/' target="_blank">
      <%= image_tag "aws.png", class: "card-img-top" %>
      </a>
      <div class="card-body">
        <p class="card-text">AWS (Amazon Web Services) is a comprehensive, IaaS, PaaS SaaS etc... click and check any features.</p>
      </div>
    </div>
    <div class="card">
      <a href='https://rubyonrails.org/' target="_blank">
      <%= image_tag "rails.png", class: "card-img-top" %>
      </a>
      <div class="card-body">
        <p class="card-text">Ruby on Rails makes it much easier and more fun. It includes everything you need to build fantastic applications.</p>
      </div>
    </div>
  </div>
</div>