var comments_json = <%= raw @comments.to_json %>
var latest_tweet_id = '<%= @latest_tweet_id %>'
var next_page_token = '<%= @next_page_token %>'


$("#keyword").html('<%= @keyword %>');
$("#video_id").html('<%= @video_id %>');
$("#latest_tweet_id").html(latest_tweet_id);
$("#next_page_token").html(next_page_token);


var regex_reply = /^@[\s\S]*$/;
var line = '='.repeat(60);
var line_grater = '>'.repeat(25);
var line_less = '<'.repeat(25);

Object.keys(comments_json).reverse().forEach(function(num) {

  if (!(comments_json[num]["text"].replace(('\n'), ('\s')).match(regex_reply))) {
    

    $('<div class="line">' + line + '<div>').prependTo("ol")
      .hide().slideDown(300);
      
    /*
    $('<h5 class="tweet-id">' + 'TweetID : ' + String(comments_json[num]["id"]) + '</h5>')
      .prependTo($("ol")).hide().fadeIn(1500);
    */
    
    $('<article class="tweet">' + comments_json[num]["text"].replace(/https.*/g, "[URLメディアあり]") 
    + '</article>').prependTo($("ol")).hide().fadeIn(1500);
   
   
  } else {
    
    console.log("Regex NG");
    console.log(comments_json[num]["text"]);
    console.log("=".repeat(10));
  
  };
  
    
});


$('<article class="jquery-line">' + line_less + " jQuery Line " + line_grater + '<article><br>')
  .prependTo("ol").hide().fadeIn(1000);