var comments_json = <%= raw @comments.to_json %>
var latest_tweet_id = '<%= @latest_tweet_id %>'
var next_page_token = '<%= @next_page_token %>'
var video_id = '<%= @video_id %>'
var chat_id = '<%= @chat_id %>'


$("#chat_id").val(chat_id);
$("#video_id").val(video_id);
$("#latest_tweet_id").val(latest_tweet_id);
$("#next_page_token").val(next_page_token);


var line = '='.repeat(60);
var line_grater = '>'.repeat(25);
var line_less = '<'.repeat(25);

/*
Object.keys(comments_json).reverse().forEach(function(num) {


    $('<div class="line">' + line + '<div>').prependTo("ol")
      .hide().slideDown(300);
      
    $('<h5 class="tweet-id">' + 'TweetID : ' + String(comments_json[num]["id"]) + '</h5>')
      .prependTo($("ol")).hide().fadeIn(1500);
    
    $('<article class="tweet">' + comments_json[num]["text"] + '</article>')
    .prependTo($("ol")).hide().fadeIn(1500);
   
  });

$('<article class="jquery-line">' + line_less + " jQuery Line " + line_grater + '<article><br>')
  .prependTo("ol").hide().fadeIn(1000);
*/